body {
    font-family: "Lato", sans-serif;
    margin: 0px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .nav-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 28px 38px 0px 38px;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .nav-wrapper > .logo{
    position: relative;
    bottom: 17.5px;
  }

  .nav-wrapper > .logo > img{
    background-position: top;
    max-height: 70px;
    width: auto;
  }


  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  
  .active-nav-link a {
    color: black !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: black;
  }
  
  .portfolio-items-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
    padding: 1rem;
  }

  .portfolio-item-wrapper:hover {
    cursor: pointer;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  

  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: rgb(216, 68, 68);
    font-weight: 600;
  }
  
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    object-fit: cover;
    background-position: top;
    height: 500px;
    width: 100%;
  }
  
  .profile-content-wrapper {
    text-align: center;
    padding: 50px;
    padding-top: 0px;
  }
  
  .profile-content-wrapper h1 {
    color: rgb(216, 68, 68);
  }

  .project-content-wrapper {
    text-align: left;
    padding: 20px;
  }

  .project-content-wrapper h4{
    color: rgb(61, 61, 61);
    font-style: italic;
  }

  .project-content-wrapper a{
    padding: 0px 50px 0px 0px;
  }

  .resume{
    padding-top: 10px;
  }
  .resume > .btn {
    background-color: rgb(216, 68, 68);
    border: none;
    color: white;
    padding: 7px 25px;
    cursor: pointer;
    font-size: 20px;
    transition: ease all 0.5s;
  }

  .resume > .btn:hover {
    background-color: rgb(156, 3, 3);
    transition: ease all 0.5s;
  }

  .profile-icons{
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 25px;
  }

  .profile-icons > .btn {
    background: none;
    border: none;
    color: rgb(216, 68, 68);
    padding: 0px;
    cursor: pointer;
    font-size: 20px;
    transition: ease all 0.5s;
    margin: 10px
  }

  .profile-icons > .btn:hover {
    color: rgb(156, 3, 3);
    transition: ease all 0.5s;
  }

  @keyframes fadeIn{
    to{
        opacity:1;
    }
}

  .fade-in-splash{
    opacity:0;
    animation: fadeIn 0.5s ease-in forwards;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}